<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.well_beingapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"></activity>
        <activity
            android:name=".NewVolunteeringJobActivity"
            android:parentActivityName=".VolunteeringActivity" />
        <activity
            android:name=".VolunteeringActivity"
            android:launchMode="singleTop" />
        <activity android:name=".WorldLandingActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6cssYjXXNOeAFrTouss9dGk1OYE5e7fo" />

        <activity
            android:name=".WorldActivity"
            android:label="@string/title_activity_world" />
        <activity android:name=".SelfLandingActivity" />
        <activity
            android:name=".NewGoalActivity"
            android:parentActivityName=".FutureActivity" />
        <activity
            android:name=".MoodScoreActivity"
            android:parentActivityName=".MoodQuizActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".MoodLogActivity" />
        <activity
            android:name=".FutureActivity"
            android:launchMode="singleTop" />
        <activity android:name=".MoodQuizActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>